body {
  background-color: papayawhip;
}

#mainpic{
  border-radius: 20px;
  background: (coolGuy.jpg);
  background-position: left;
  width:500px;
  height:400px;
}

#plankFace{
  border-radius: 20px;
  background: (plankFace.jpg);
  background-position: left;
  width:800px;
  height:500px;
}

#plankPCB{
  border-radius: 20px;
  background: (plankFace.jpg);
  background-position: left;
  width:800px;
  height:500px;
}

#yellowBike{
  border-radius: 20px;
  background: (yellowBike.jpg);
  background-position: left;
  width:800px;
  height:500px;
}

#oldBike{
  border-radius: 20px;
  background: (oldBike.jpg);
  background-position: left;
  width:800px;
  height:500px;
}

#Vstar{
  border-radius: 20px;
  background: (Vstar.jpg);
  background-position: left;
  width:auto;
  height:500px;
}

#subie{
  border-radius: 20px;
  background: (subie.jpg);
  background-position: left;
  width:auto;
  height:500px;
}

#coolGuy{
  border-radius: 20px;
  background: (coolGuy.jpg);
  background-position: left;
  width:auto;
  height:500px;
}

#ttable{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
    border :4px solid #dddddd;
    text-align: left;
    padding:20px;
    width: 80%;

}
#topHeader{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  width:auto;
  height:auto;
}

#content{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  width:auto;
  height:auto;
}

#cbim{
  border-radius: 20px;
  background: (inventory.jpg);
  background-position: left;
  width:800px;
  height:500px;
}

.tab {
 margin-left: 4em
}

.indent{
  text-indent:50px
}

.column{
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after{
  content:"";
  clear: both;
  display: table;
}

* {
  box-sizing: border-box;
}
